body{
    font-family: consolas;
}
#st{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #ffd607;

}
button{
    margin: 10px;
    padding: 10px;
   
}
table{
  padding-bottom: 50px;  
  border-radius: 1px;
  justify-content: center;

}